<ion-view>
<ion-header-bar class="bar bar-positive">
  <button class="button button-icon ion-ios-arrow-left button-calm" ng-click="onBack();"></button>
  <p class="title">button</p>
</ion-header-bar>

<ion-content class="has-subheader">
  <!--button样式：-->
  <button class="button">default</button>
  <button class="button button-calm">calm</button>
  <button class="button button-positive">positive</button>
  <button class="button button-block button-positive">block</button>
  <button class="button button-full button-positive">full</button>
  <button class="button button-small button-positive">small</button>
  <button class="button button-large button-positive">large</button>
  <button class="button button-outline button-positive">outline</button>
  <button class="button button-clear button-positive">clear</button>

  <!--button icon样式：-->
  <button class="button">
    <i class="icon ion-load-a">loading</i>
  </button>
  <button class="button icon-right ion-home">home</button>
  <button class="button icon-left ion-star button-positive">star</button>
  <button class="button icon-left ion-chevron-left button-clear button-calm">back</button>
  <button class="button icon ion-gear-a"></button>
  <a class="button button-icon icon ion-settings"></a>
  <a class="button button-outline icon-right ion-navicon button-balanced">Reorder</a>

  <!--button bar样式：-->
  <div class="button-bar">
    <button class="button button-large button-positive">first</button>
    <button class="button button-calm">second</button>
    <button class="button">third</button>
  </div>

</ion-content>

<div class="bar bar-footer bar-calm">
  <button class="button button-clear">left</button>
  <h1 class="title">footer</h1>
  <button class="button button-clear"></button>
</div>
</ion-view>
