<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon ion-ios-arrow-left button-calm" ng-click="onBack();"></button>
    <h1 class="title">header</h1>
    <button class="button">right</button>
  </ion-header-bar>

  <ion-content>
    <div class="row">
      <div class="col col-20">
        <div style="text-align: center">col33</div>
      </div>
      <div class="col">
        <div style="text-align: center">col33</div>
      </div>
      <div class="col">
        <div style="text-align: center">col33</div>
      </div>
    </div>
  </ion-content>
</ion-view>
