<ion-view>
  <ion-header-bar class="bar bar-positive">
    <button class="button button-icon ion-ios-arrow-left button-calm" ng-click="onBack();"></button>
    <p class="title text-center">Array And Json</p>
  </ion-header-bar>

  <ion-content>
    <button class="button button-full button-positive" ng-click="create();">create array</button>
    <button class="button button-full button-calm" ng-click="stack();">stack array</button>
    <button class="button button-full button-calm" ng-click="queue();">queue array</button>
    <button class="button button-full button-calm" ng-click="unShift();">unShift array</button>
    <button class="button button-full button-calm" ng-click="sort();">sort array</button>
    <button class="button button-full button-calm" ng-click="concat();">concat array</button>
    <button class="button button-full button-calm" ng-click="slice();">slice array</button>
    <button class="button button-full button-calm" ng-click="splice();">splice array</button>
    <button class="button button-full button-calm" ng-click="indexOf();">indexOf array</button>
    <button class="button button-full button-calm" ng-click="iterator();">iterator array</button>
    <button class="button button-full button-calm" ng-click="stringify();">stringify array</button>
    <button class="button button-full button-calm" ng-click="parse();">parse array</button>
  </ion-content>
</ion-view>
