<ion-view>
<ion-header-bar align-title="center" class="bar-positive">
  <button class="button button-icon ion-ios-arrow-left button-calm" ng-click="onBack();"></button>
  <h1 class="title">header</h1>
  <button class="button">right</button>
</ion-header-bar>

<ion-content>
  <!--图标列表-->
  <div class="list">
    <div class="item customer-click-item">item1</div>
    <a class="item item-icon-left customer-click-item" href="#">
      <i class="icon ion-email"></i>
      item2
    </a>
    <a class="item item-icon-right">
      item3
      <i class="icon ion-android-star-outline"></i>
    </a>
    <a class="item item-icon-left item-icon-right">
      <i class="icon ion-alert-circled"></i>
      item4
      <i class="icon ion-settings"></i>
    </a>
  </div>
  <!--按钮列表-->
  <div class="list">
    <div class="item item-button-left" ng-click="">
      item1
      <button class="button button-positive">
        <i class="icon ion-ios-telephone-outline"></i>
      </button>
    </div>
  </div>
  <!--头像列表-->
  <div class="list">
    <a class="item item-avatar-left item-icon-right">
      <img src="img/ionic.png">
      <h2>zhang</h2>
      <p>guopeng</p>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>
  <!--缩略图列表-->
  <div class="list">
    <a href="#" class="item item-thumbnail-left item-icon-right">
      <img src="img/ionic.png" alt="">
      <h2>zhang</h2>
      <p>guo peng</p>
      <i class="icon ion-ios-arrow-right"></i>
    </a>
  </div>
  <!--卡片列表-->
  <div class="list card">
    <!--图标列表-->
    <a class="item item-icon-left">
      <i class="icon ion-home"></i>
      home
    </a>
    <!--图片列表-->
    <a class="item item-avatar-left">
      <img src="img/ionic.png">
      <p>zhang</p>
      <p>guopeng</p>
    </a>
  </div>
</ion-content>
</ion-view>




